In [167]:
#Import modules
import pandas as pd

In [168]:
#Extract and read the csv file on Pandas
file_path = "Resources/purchase_data.csv"
game_df = pd.read_csv(file_path)

#View the details of the file
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [169]:
#Check if the number of players column has unique or duplicate data
print(game_df["SN"].is_unique)

False

In [170]:
#Player count
#Calculate Total Number of Players
number_of_players = game_df["SN"].nunique()
summary = pd.DataFrame({"Total Number of Players": [number_of_players]})
summary

   Total Number of Players
0                      576

In [171]:
#Purchase analysis (Total)

#Calculate Number of Unique Items
unique_items = game_df["Item Name"].nunique()

#Calculate Average Purchase Price
avg_purchase_price = game_df["Price"].mean()

#Calculate Total Number of Purchases
total_purchase = game_df["Purchase ID"].count()

#Calculate Total Revenue
total_revenue = game_df["Price"].sum()

#Create and print summary
purchase_analysis = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                  "Average Price": [avg_purchase_price], 
                                  "Number of Purchases": [total_purchase], 
                                  "Total Revenue": [total_revenue]})

In [172]:
#Formatting of the dataframe
purchase_analysis['Average Price'] = purchase_analysis['Average Price'].map('${:.2f}'.format)
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].map('${:.2f}'.format)
purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [173]:
#Gender Demographics

#Create separate dataframes of male and female players and do the calculations
male_df = game_df.loc[game_df["Gender"] == "Male"]
female_df = game_df.loc[game_df["Gender"] == "Female"]
other_df = game_df.loc[game_df["Gender"] == "Other / Non-Disclosed"]

# Percentage and Count of Male Players
male_count = male_df["SN"].nunique()
male_percent = male_count/number_of_players

# Percentage and Count of Female Players
female_count = female_df["SN"].nunique()
female_percent = female_count/number_of_players

# Percentage and Count of Other / Non-Disclosed
other_count = other_df["SN"].nunique()
other_percent = other_count/number_of_players

#Display results in a dataframe 
data = {"": ["Male", "Female", "Other / Non-Disclosed"],
        "Total Count": [male_count, female_count, other_count],
        "Percentage of Players": [male_percent, female_percent, other_percent]}
gender_demographics = pd.DataFrame(data)

In [174]:
#Formatting of the dataframe
gender_demographics.set_index("", inplace = True)

gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2%}".format)
gender_demographics

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [175]:
#Purchasing Analysis (Gender) using GroupBy
#Purchase Count by gender
#Average Purchase Price by gender
#Total Purchase Value by gender
#Average Purchase Total per Person by Gender

#Extract relevant columns into a DF
gender_gamedf = game_df[["Gender", "Price"]]

#Group by gender
grouped_gender_gamedf = gender_gamedf.groupby(["Gender"])

#Average Purchase Total per Person by Gender
count = gender_demographics["Total Count"]
gender_purchase_value = grouped_gender_gamedf["Price"].sum()
av = gender_purchase_value/count
av

df = pd.DataFrame({"Purchase Count": grouped_gender_gamedf["Price"].count(),
                   "Average Purchase Price": grouped_gender_gamedf["Price"].mean(), 
                   "Total Purchase Value": grouped_gender_gamedf["Price"].sum(), 
                   "Avg Total Purchase per Person": av})

In [176]:
#Formatting of dataframe df
df["Average Purchase Price"] = df["Average Purchase Price"].map('${:.2f}'.format)
df["Total Purchase Value"] = df["Total Purchase Value"].map('${:,.2f}'.format)
df["Avg Total Purchase per Person"] = df["Avg Total Purchase per Person"].map('${:.2f}'.format)
df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [177]:
#Age Demographics - Breakdown data into age bins of 4 years each
#Find out the minimum and maximum age in order to create bins
print(game_df["Age"].max())
print(game_df["Age"].min())

45
7

In [178]:
#Define bins and labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
alabels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [179]:
# Slice the data into bins and form a new column in original DF
game_df["Age Range"] = pd.cut(game_df["Age"], bins, labels=alabels)

In [180]:
#Groupby age ranges
game_df_age_group = game_df.groupby("Age Range")
total_age_count = game_df_age_group["SN"].nunique()
percent_age_count = total_age_count / number_of_players
count_age_df = pd.DataFrame({"Total Count": total_age_count, 
                             "Percentage of Players": percent_age_count})
#Formatting dataframe
count_age_df["Percentage of Players"] = count_age_df["Percentage of Players"].map("{:.2%}".format)
count_age_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [181]:
#Calculate the purchase variables 
#Purchase Count
purchase_count_age = game_df_age_group["Purchase ID"].count()
#Average Purchase Price
purchase_price_age = game_df_age_group["Price"].mean().round(2)
#Total Purchase Value
purchase_total_age = game_df_age_group["Price"].sum().round(2)
#Average Purchase Total per Person by Age Group
avg_purchase_age = purchase_total_age / total_age_count

age_bin_df = pd.DataFrame({"Purchase Count": purchase_count_age,
                           "Average Purchase Price": purchase_price_age,
                           "Total Purchase Value": purchase_total_age,
                           "Avg Total Purchase per Person": avg_purchase_age})
#Formatting the dataframe
age_bin_df["Average Purchase Price"] = age_bin_df["Average Purchase Price"].map('${:.2f}'.format)
age_bin_df["Total Purchase Value"] = age_bin_df["Total Purchase Value"].map('${:.2f}'.format)
age_bin_df["Avg Total Purchase per Person"] = age_bin_df["Avg Total Purchase per Person"].map('${:.2f}'.format)
age_bin_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [182]:
# Top Spenders
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  # SN
  # Purchase Count
  # Average Purchase Price
  # Total Purchase Value

#Group the original DF by player name (SN)
spend_analysis_group = game_df.groupby("SN")

#Perform the required calculations
spend_count_is = spend_analysis_group["Purchase ID"].count()
spend_total_is = spend_analysis_group["Price"].sum()
spend_avg_is = spend_analysis_group["Price"].mean()

#Display the results in a DF
spender_df = pd.DataFrame({"Purchase Count": spend_count_is, 
                             "Average Purchase Price": spend_avg_is, 
                             "Total Purchase Value": spend_total_is})

#Sort the values by Total Purchase Value and extract top 5 spenders
game_spender = spender_df.sort_values("Total Purchase Value", ascending = False)
top_spenders_df = game_spender.nlargest(5, ["Total Purchase Value"])

#Identify the top 5 unique spenders by purchase count - for verifying output
purchase_count_s = game_df["SN"].value_counts().nlargest(5)

#Formatting final table
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map('${:.2f}'.format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map('${:.2f}'.format)
top_spenders_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [183]:
# Most Popular Items
# Identify the 5 most popular items by purchase count, then list (in a table):
  # Item ID
  # Item Name
  # Purchase Count
  # Item Price
  # Total Purchase Value

#Extract Item ID, Item Name, and Price columns and group them by item id
item_df = game_df[["Item ID", "Item Name", "Price"]]
item_df
item_df_grouped = item_df.groupby("Item ID")

#Perform calculations
item_name = item_df_grouped["Item Name"].unique()
item_count = item_df_grouped["Item ID"].count()
item_total = item_df_grouped["Price"].sum()
item_price = item_df_grouped["Price"].mean()

#Create a DF to display the results
popular_item_df = pd.DataFrame({"Item Name": item_name, 
                                "Purchase Count": item_count, 
                                "Item Price": item_price, 
                                "Total Purchase Value": item_total})

#Sort the values by Purchase Count and extract top 5 spenders
item_sorter = popular_item_df.sort_values("Purchase Count", ascending = False)
topfive_items = item_sorter.nlargest(5, ["Purchase Count"])

#Formatting final table
topfive_items["Item Name"] = topfive_items["Item Name"].str.join(', ')
topfive_items["Item Price"] = topfive_items["Item Price"].map('${:.2f}'.format)
topfive_items["Total Purchase Value"] = topfive_items["Total Purchase Value"].map('${:.2f}'.format)
topfive_items

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [184]:
# Most Profitable Items
# Identify the 5 most profitable items by total purchase value, then list (in a table):
  # Item ID
  # Item Name
  # Purchase Count
  # Item Price
  # Total Purchase Value

#Sort the popular item DF (done above) by calculated total purchase value
profitable_sorted = popular_item_df.sort_values("Total Purchase Value", ascending = False)
topfive_profit = profitable_sorted.nlargest(5, ["Total Purchase Value"])

#Formatting final table
topfive_profit["Item Name"] = topfive_profit["Item Name"].str.join(', ')
topfive_profit["Item Price"] = topfive_profit["Item Price"].map('${:.2f}'.format)
topfive_profit["Total Purchase Value"] = topfive_profit["Total Purchase Value"].map('${:.2f}'.format)
topfive_profit

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80