In [51]:
#Import modules
import pandas as pd

In [52]:
#Extract and read the csv file on Pandas
file_path = "Resources/purchase_data.csv"
game_df = pd.read_csv(file_path)

#View the details of the file
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [53]:
#Check if the number of players column has unique or duplicate data
print(game_df["SN"].is_unique)

False

In [54]:
#Player count
#Calculate Total Number of Players
number_of_players = game_df["SN"].nunique()
summary = pd.DataFrame({"Total Number of Players": [number_of_players]})
summary

   Total Number of Players
0                      576

In [55]:
#Purchase analysis (Total)

#Calculate Number of Unique Items
unique_items = game_df["Item Name"].nunique()

#Calculate Average Purchase Price
avg_purchase_price = game_df["Price"].mean()

#Calculate Total Number of Purchases
total_purchase = game_df["Purchase ID"].count()

#Calculate Total Revenue
total_revenue = game_df["Price"].sum()

#Create and print summary
purchase_analysis = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                  "Average Price": [avg_purchase_price], 
                                  "Number of Purchases": [total_purchase], 
                                  "Total Revenue": [total_revenue]})

In [56]:
purchase_analysis['Average Price'] = purchase_analysis['Average Price'].map('${:.2f}'.format)

In [57]:
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].map('${:.2f}'.format)
purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [58]:
#Gender Demographics

#Create separate dataframes of male and female players and do the calculations
male_df = game_df.loc[game_df["Gender"] == "Male"]
female_df = game_df.loc[game_df["Gender"] == "Female"]
other_df = game_df.loc[game_df["Gender"] == "Other / Non-Disclosed"]

# Percentage and Count of Male Players
male_count = male_df["SN"].nunique()
male_percent = male_count/number_of_players

# Percentage and Count of Female Players
female_count = female_df["SN"].nunique()
female_percent = female_count/number_of_players

# Percentage and Count of Other / Non-Disclosed
other_count = other_df["SN"].nunique()
other_percent = other_count/number_of_players

#Display results in a dataframe 
data = {"": ["Male", "Female", "Other / Non-Disclosed"],
        "Total Count": [male_count, female_count, other_count],
        "Percentage of Players": [male_percent, female_percent, other_percent]}
gender_demographics = pd.DataFrame(data)

In [59]:
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2%}".format)
#gender_demographics.reset_index()
gender_demographics

                          Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

In [61]:
# Purchasing Analysis (Gender) using separate DF

female_purchase = female_df["Purchase ID"].count()
male_purchase = male_df["Purchase ID"].count()
other_purchase = other_df["Purchase ID"].count()

female_avg_price = female_df["Price"].mean()
male_avg_price = male_df["Price"].mean()
other_avg_price = other_df["Price"].mean()

female_purchase_value = female_df["Price"].sum()
male_purchase_value = male_df["Price"].sum()
other_purchase_value = other_df["Price"].sum()



#create a dictionary and Display results in a dataframe
purch_dict = {"Gender": ["Male", "Female", "Other / Non-Disclosed"],
        "Purchase Count": [male_purchase, female_purchase, other_purchase],
        "Average Purchase Price": [male_avg_price, female_avg_price, other_avg_price], 
        "Total Purchase Value": [male_purchase_value, female_purchase_value, other_purchase_value], 
        "Avg Total Purchase per Person": []}
gender_purchase_analysis = pd.DataFrame(purch_dict)
gender_purchase_analysis

TypeError: concat() got multiple values for argument 'axis'

In [70]:
#Purchasing Analysis (Gender) using GroupBy
#Extract columns into a new DF
gender_gamedf = game_df[["Gender", "Price"]]

#Group by gender
grouped_gender_gamedf = gender_gamedf.groupby(["Gender"])

#Purchase Count by gender
gender_purchase_count = grouped_gender_gamedf.count()
#Average Purchase Price by gender
gender_avg_price = grouped_gender_gamedf["Price"].mean()
#Total Purchase Value by gender
gender_purchase_value = grouped_gender_gamedf["Price"].sum()

#Average Purchase Total per Person by Gender
gender_counts_n = game_df["Gender"].nunique()
gender_purchase_value
gender_counts_n

3

In [64]:
purchase_by_gender = pd.concat([gender_purchase_count],[gender_avg_price],[gender_purchase_value],axis=1)
purchase_by_gender

TypeError: concat() got multiple values for argument 'axis'