In [3]:
#Import modules
import pandas as pd

In [4]:
#Extract and read the csv file on Pandas
file_path = "Resources/purchase_data.csv"
game_df = pd.read_csv(file_path)

#View the details of the file
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#Check if the number of players column has unique or duplicate data
print(game_df["SN"].is_unique)
#game_df["Price"] = game_df["Price"]
#game_df.dtypes

False

In [6]:
#Player count
#Calculate Total Number of Players
number_of_players = game_df["SN"].nunique()
summary = pd.DataFrame({"Total Number of Players": [number_of_players]})
summary

   Total Number of Players
0                      576

In [17]:
#Purchase analysis (Total)

#Calculate Number of Unique Items
unique_items = game_df["Item Name"].nunique()

#Calculate Average Purchase Price
avg_purchase_price = game_df["Price"].mean()

#Calculate Total Number of Purchases
total_purchase = game_df["Purchase ID"].count()

#Calculate Total Revenue
total_revenue = game_df["Price"].sum()

#Create and print summary
purchase_analysis = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                  "Average Price": [avg_purchase_price], 
                                  "Number of Purchases": [total_purchase], 
                                  "Total Revenue": [total_revenue]})
#pd.options.display.float_format = '{:.2f}'.format
purchase_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [18]:
purchase_analysis.columns

Index(['Number of Unique Items', 'Average Price', 'Number of Purchases',
       'Total Revenue'],
      dtype='object')

In [19]:
purchase_analysis['Average Price'] = purchase_analysis['Average Price'].map('{:.2f}'.format)
purchase_analysis

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     179          3.05                  780        2379.77

In [6]:
#Gender Demographics

#Create separate dataframes of male and female players and do the calculations
male_df = game_df.loc[game_df["Gender"] == "Male"]
female_df = game_df.loc[game_df["Gender"] == "Female"]
other_df = game_df.loc[game_df["Gender"] == "Other / Non-Disclosed"]

# Percentage and Count of Male Players
male_count = male_df["SN"].nunique()
male_percent = male_count/number_of_players

# Percentage and Count of Female Players
female_count = female_df["SN"].nunique()
female_percent = female_count/number_of_players

# Percentage and Count of Other / Non-Disclosed
other_count = other_df["SN"].nunique()
other_percent = other_count/number_of_players

#Display results in a dataframe 
data = {"": ["Male", "Female", "Other / Non-Disclosed"],
        "Total Count": [male_count, female_count, other_count],
        "Percentage of Players": [male_percent, female_percent, other_percent]}
gender_demographics = pd.DataFrame(data)
gender_demographics

                          Total Count  Percentage of Players
0                   Male          484               0.840278
1                 Female           81               0.140625
2  Other / Non-Disclosed           11               0.019097

In [29]:
# Purchasing Analysis (Gender)
#The below each broken by gender

#Purchase Count
female_purchase = female_df["Purchase ID"].count()
male_purchase = male_df["Purchase ID"].count()
other_purchase = other_df["Purchase ID"].count()

#Average Purchase Price
female_avg_price = female_df["Price"].mean()
male_avg_price = male_df["Price"].mean()
other_avg_price = other_df["Price"].mean()

#Total Purchase Value
female_purchase_value = female_df["Price"].sum()
male_purchase_value = male_df["Price"].sum()
other_purchase_value = other_df["Price"].sum()

#Average Purchase Total per Person by Gender
#dictionary
purchase_by_gender = {"Gender": ["Male", "Female", "Other / Non-Disclosed"],
        "Total Count": [male_count, female_count, other_count],
        "Percentage of Players": [male_percent, female_percent, other_percent]}
female_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79